In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import inspect
Base = declarative_base()
import pandas as pd
from sqlalchemy import *
import datetime

In [2]:
metadata = MetaData()
engine = create_engine('sqlite:///./data/FPA_FOD_20170508.sqlite')
Base.metadata.create_all(engine)

In [3]:
db_uri = 'sqlite:///./data/FPA_FOD_20170508.sqlite'
engine = create_engine(db_uri)

inspector = inspect(engine)

[]

In [4]:
# print (engine.table_names())

In [7]:
print(pd.to_datetime(2455419, unit="s"))

1970-01-29 10:03:39

In [51]:
# Store data in dataframe
df = pd.read_sql('SELECT fire_year,fire_name, fips_name, fire_size, stat_cause_descr, latitude, longitude, fips_code, DISCOVERY_DATE, CONT_DATE FROM Fires WHERE state == "CA" AND fire_year >= 2010 and fire_year <= 2014 and fire_size > 1000 and county <> "none"', engine)

In [52]:
df

,FIRE_YEAR,FIRE_NAME,FIPS_NAME,FIRE_SIZE,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,FIPS_CODE,DISCOVERY_DATE,CONT_DATE
0,2010,BAR,Plumas,1040.0,Arson,40.014167,-121.174444,063,2455408.5,2455419.5
1,2010,POZO,San Luis Obispo,1150.0,Miscellaneous,35.306389,-120.319722,079,2455429.5,2455433.5
2,2010,POST,Kern,1312.0,Miscellaneous,34.847778,-118.873889,029,2455432.5,2455436.5
3,2010,BULL,Kern,16442.0,Miscellaneous,35.785278,-118.474722,029,2455403.5,2455439.5
4,2010,WOLF,Alpine,1142.0,Lightning,38.551389,-119.712500,003,2455402.5,2455421.5
5,2010,CANYON,Kern,9820.0,Miscellaneous,35.556389,-118.601944,029,2455451.5,2455463.5
6,2010,BULLARD,Yuba,1307.0,Missing/Undefined,39.376944,-121.140833,115,2455435.5,2455454.5
7,2010,SAND 2,Kern,1255.0,Lightning,35.776700,-117.972788,029,2455393.5,2455397.5
8,2010,INDIAN,Kern,1822.0,Lightning,35.696160,-117.965290,029,2455395.5,2455402.5
9,2010,CROWN,Los Angeles,13918.0,Equipment Use,34.545300,-118.281400,037,2455406.5,2455411.5
10,2010,MONO,Mono,1205.0,Lightning,37.930000,-118.980000,051,2455403.5,2455411.5
11,2010,MCDONALD,Lassen,9408.0,Lightning,40.916400,-120.399700,035,2455403.5,2455418.5
12,2010,CONSTANTIA,Lassen,1369.0,Lightning,39.948900,-120.057200,035,2455401.5,2455420.5
13,2010,BEAR CREEK,Santa Barbara,1253.0,Missing/Undefined,34.642222,-120.574722,083,2455497.5,2455499.5
14,2010,WEST,Kern,1658.0,Missing/Undefined,35.058056,-118.425833,029,2455404.5,2455414.5
15,2010,ALISO,San Diego,3225.0,Missing/Undefined,33.321389,-117.386667,073,2455390.5,2455392.5
16,2011,GILMAN,Riverside,1026.6,Miscellaneous,33.937500,-117.081700,065,2455779.5,2455781.5
17,2011,CANYON,Kern,3128.0,Equipment Use,35.080600,-118.423300,029,2455808.5,2455815.5
18,2011,GREAT,San Diego,2134.2,Lightning,35.097500,-116.478600,073,2455835.5,2455842.5
19,2011,JOHN,Inyo,5353.0,Equipment Use,37.137800,-118.282200,027,2455817.5,2455820.5
20,2011,ANNIE,Modoc,2076.0,Missing/Undefined,41.899750,-120.122530,049,2455791.5,2455799.5
21,2011,MILTON,Stanislaus,1122.0,Lightning,37.944722,-120.843889,099,2455813.5,NaN
22,2011,SODA,San Luis Obispo,1528.0,Equipment Use,35.351389,-120.005278,079,2455807.5,NaN
23,2011,None,San Luis Obispo,5050.0,Missing/Undefined,35.261368,-120.643765,079,2455827.5,NaN
24,2011,None,San Luis Obispo,1600.0,Missing/Undefined,35.160000,-120.390000,079,2455767.5,NaN
25,2012,WILLIAMS,Los Angeles,4200.0,Equipment Use,34.238333,-117.813056,037,2456172.5,2456212.5
26,2012,GOFF,Siskiyou,22283.0,Lightning,41.886111,-123.251944,093,2456144.5,2456201.5
27,2012,NORTH PASS,Mendocino,41983.0,Lightning,39.866111,-123.129167,045,2456157.5,2456216.5
28,2012,MILL,Colusa,29502.0,Miscellaneous,39.318333,-122.706944,011,2456115.5,2456141.5
29,2012,MDFDHBSFMU06LAKE,Modoc,1667.0,Lightning,41.751389,-120.996389,049,2456144.5,2456148.5
...,...,...,...,...,...,...,...,...,...,...
86,2011,QUINN,Kern,3147.0,Missing/Undefined,35.751944,-118.930556,029,2455733.5,2455735.5
87,2013,MISSION,Monterey,4500.0,Missing/Undefined,34.398611,-119.381389,053,2456526.5,2456529.5
88,2014,FAULKSTEIN,Siskiyou,5225.0,Lightning,41.705000,-123.191111,093,2456880.5,2456894.5
89,2014,COLBY,Los Angeles,1980.0,Campfire,34.165000,-117.847778,037,2456673.5,2456678.5
90,2014,WHITES,Siskiyou,33758.0,Lightning,41.267500,-123.002222,093,2456868.5,2456925.5
91,2014,FRYING PAN,Siskiyou,115279.2,Lightning,41.772500,-123.355833,093,2456880.5,2456930.5
92,2014,EILER,Shasta,47958.0,Miscellaneous,40.719444,-121.552222,089,2456869.5,2456893.5
93,2014,SHIRLEY,Kern,2546.0,Miscellaneous,35.701667,-118.544167,029,2456821.5,2456821.5
94,2014,LITTLE DEER,Siskiyou,5498.0,Lightning,41.681667,-122.126944,093,2456869.5,2456881.5
95,2014,LOG,Siskiyou,3632.0,Lightning,41.550000,-123.053889,093,2456868.5,2456868.5
96,2014,MAN,Siskiyou,13110.0,Lightning,41.535833,-123.163333,093,2456881.5,2456881.5
97,2014,BEAVER,Siskiyou,32496.0,Lightning,41.924444,-122.879722,093,2456868.5,2456938.5
98,2014,BALD,Shasta,31872.0,Lightning,40.999722,-121.616389,089,2456868.5,2456884.5
99,2014,NICOLLS,Kern,1680.0,Miscellaneous,35.642222,-118.148333,029,2456849.5,2456849.5
100,2014,WAY,Kern,4045.0,Miscellaneous,35.726111,-118.479167,029,2456887.5,2456887.5
101,2014,SODA,Tulare,1435.0,Miscellaneous,36.201389,-118.518056,107,2456670.5,2456738.5
102,2014,COFFEE,Trinity,6258.0,Lightning,41.140833,-122.804722,105,2456867.5,2456960.5
103,2014,FRENCH,Madera,13837.0,Campfire,37.274722,-119.337222,039,2456866.5,2456887.5
104,2014,BULLY,Shasta,12660.0,Missing/Undefined,40.419670,-122.729500,089,2456849.5,2456864.5
105,2014,DAY,Modoc,13153.0,Lightning,41.226700,-121.361900,049,2456868.5,2456882.5
106,2014,BUTTS,Napa,4300.0,Equipment Use,38.671667,-122.444722,055,2456839.5,2456841.5
107,2014,APPLEGATE,Placer,3213.0,Missing/Undefined,39.003838,-120.993454,061,2456938.5,2456945.5
108,2014,ETIWANDA,San Bernardino,2143.0,Missing/Undefined,34.200833,-117.549167,071,2456777.5,NaN
109,2014,TOMAHAWK,San Diego,5367.0,Missing/Undefined,33.383056,-117.263611,073,2456791.5,NaN
110,2014,BERNARDO,San Diego,1548.0,Missing/Undefined,32.997222,-117.156389,073,2456790.5,NaN
111,2014,PULGAS,Riverside,14416.0,Missing/Undefined,33.571944,-117.077222,065,2456792.5,NaN
112,2014,COMBAT,San Diego,1457.0,Missing/Undefined,33.421111,-117.553611,073,2456793.5,NaN
113,2014,STONY,Monterey,4840.0,Missing/Undefined,35.987778,-121.287222,053,2456827.5,NaN
114,2014,GULCH,Shasta,1375.0,Missing/Undefined,40.730278,-122.172500,089,2456910.5,NaN
115,2014,KING,El Dorado,97717.0,Missing/Undefined,38.792500,-120.602222,017,2456913.5,NaN

In [8]:
df.to_csv("fires.csv")

NameError: name 'df' is not defined

In [53]:
merge_df = df.rename(index=str,columns={"FIRE_YEAR":"Fire Year","FIRE_NAME":"Fire Name","FIRE_SIZE":"Acres Burned",
                                        "STAT_CAUSE_DESCR":"Fire Cause","LATITUDE":"Latitude","LONGITUDE":"Longitude",
                                        "FIPS_CODE":"FIPS Code","FIPS_NAME":"County","DISCOVERY_DATE":"Start Date",
                                        "CONT_DATE":"Containment Date"})
merge_df = merge_df[["Fire Year","Fire Name","Acres Burned","Fire Cause","Latitude","Longitude","FIPS Code","County","Start Date","Containment Date"]]
merge_df["Number of Days"] = ""
merge_df.head()

,Fire Year,Fire Name,Acres Burned,Fire Cause,Latitude,Longitude,FIPS Code,County,Start Date,Containment Date,Number of Days
0,2010,BAR,1040.0,Arson,40.014167,-121.174444,063,Plumas,2455408.5,2455419.5,
1,2010,POZO,1150.0,Miscellaneous,35.306389,-120.319722,079,San Luis Obispo,2455429.5,2455433.5,
2,2010,POST,1312.0,Miscellaneous,34.847778,-118.873889,029,Kern,2455432.5,2455436.5,
3,2010,BULL,16442.0,Miscellaneous,35.785278,-118.474722,029,Kern,2455403.5,2455439.5,
4,2010,WOLF,1142.0,Lightning,38.551389,-119.712500,003,Alpine,2455402.5,2455421.5,

In [54]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import datetime as dt
import time

In [55]:
browser = Browser("chrome", executable_path='chromedriver.exe', headless=True)
# headless - True will not open browser after cell is running

In [56]:
url = "https://en.wikipedia.org/wiki/2015_California_wildfires"
df_2015_list = pd.read_html(url)
df_2015_clean = df_2015_list[1].columns=df_2015_list[1].iloc[0]
df_2015_clean = df_2015_list[1]
df_2015_clean.drop(0,axis=0,inplace=True)
df_2015_clean.reset_index(inplace=True)
df_2015_clean.drop(["index","Notes","Ref","Km2"],axis=1,inplace=True)
df_2015_clean["Fire Year"] = 2015
df_2015_clean = df_2015_clean.rename(index=str,columns={"Name":"Fire Name","Acres":"Acres Burned"})
df_2015_clean["Fire Cause"] = ""
df_2015_clean["Latitude"] = ""
df_2015_clean["Longitude"] = ""
df_2015_clean["FIPS Code"] = ""
df_2015_clean["Number of Days"] = (pd.to_datetime(df_2015_clean["Containment Date"]) - pd.to_datetime(df_2015_clean["Start Date"])).dt.days
df_2015_clean
# print(df_2015_clean["Number of Days"])

,Fire Name,County,Acres Burned,Start Date,Containment Date,Fire Year,Fire Cause,Latitude,Longitude,FIPS Code,Number of Days
0,Round,Inyo,7000,"February 6, 2015","February 12, 2015",2015,,,,,6
1,Highway,Riverside,1049,"April 18, 2015","April 24, 2015",2015,,,,,6
2,Lake,San Bernardino,31359,"June 17, 2015","August 1, 2015",2015,,,,,45
3,Park Hill,San Luis Obispo,1791,"June 20, 2015","June 24, 2015",2015,,,,,4
4,North,San Bernardino,4250,"July 17, 2015","July 21, 2015",2015,,,,,4
5,Wragg,Napa,8051,"July 22, 2015","August 6, 2015",2015,,,,,15
6,Rocky,Lake,69438,"July 29, 2015","August 14, 2015",2015,,,,,16
7,Fork Complex,Shasta,36503,"July 30, 2015","November 3, 2015",2015,,,,,96
8,River Complex,Trinity,77081,"July 30, 2015","October 29, 2015",2015,,,,,91
9,Frog,Lassen,4863,"July 30, 2015","August 20, 2015",2015,,,,,21
10,Humboldt Lightning,Humboldt,4883,"July 30, 2015","August 19, 2015",2015,,,,,20
11,Mad River Complex,Humboldt,73137,"July 30, 2015","September 13, 2015",2015,,,,,45
12,Rough,Fresno,151623,"July 31, 2015","November 5, 2015",2015,,,,,97
13,Dodge,Lassen,10570,"August 3, 2015","August 17, 2015",2015,,,,,14
14,Gasquet,Del Norte,30361,"August 3, 2015","October 15, 2015",2015,,,,,73
15,Jerusalem,Lake and Napa,25118,"August 9, 2015","August 25, 2015",2015,,,,,16
16,Cabin,Glendora,1723,"August 14, 2015","November 20, 2015",2015,,,,,98
17,Cuesta,San Luis Obispo,2446,"August 16, 2015","August 28, 2015",2015,,,,,12
18,Tesla,Alameda,2700,"August 19, 2015","August 22, 2015",2015,,,,,3
19,Butte,Amador,70868,"September 9, 2015","October 1, 2015",2015,,,,,22
20,Valley,Lake,76067,"September 12, 2015","October 6, 2015",2015,,,,,24
21,Tassajara,Monterey,1086,"September 19, 2015","September 27, 2015",2015,,,,,8
22,Solimar,Ventura,1388,"December 25, 2015","December 29, 2015",2015,,,,,4

In [57]:
url = "https://en.wikipedia.org/wiki/2016_California_wildfires"
df_2016_list = pd.read_html(url)
df_2016_clean = df_2016_list[1].columns=df_2016_list[1].iloc[0]
df_2016_clean = df_2016_list[1]
df_2016_clean.drop(0,axis=0,inplace=True)
df_2016_clean.reset_index(inplace=True)
df_2016_clean.drop(["index","Notes","Ref"],axis=1,inplace=True)
df_2016_clean["Fire Year"] = 2016
df_2016_clean = df_2016_clean.rename(index=str,columns={"Name":"Fire Name","Acres":"Acres Burned"})
df_2016_clean["Fire Cause"] = ""
df_2016_clean["Latitude"] = ""
df_2016_clean["Longitude"] = ""
df_2016_clean["FIPS Code"] = ""
df_2016_clean["Number of Days"] = (pd.to_datetime(df_2016_clean["Containment Date"]) - pd.to_datetime(df_2016_clean["Start Date"])).dt.days

df_2016_clean

,Fire Name,County,Acres Burned,Start Date,Containment Date,Fire Year,Fire Cause,Latitude,Longitude,FIPS Code,Number of Days
0,Roberts,San Luis Obispo,3712,"May 18, 2016","May 20, 2016",2016,,,,,2
1,Metz,Monterey,3876,"May 22, 2016","May 25, 2016",2016,,,,,3
2,Coleman,Monterey,2520,"June 4, 2016","June 17, 2016",2016,,,,,13
3,Pony,Siskiyou,2860,"June 7, 2016","June 30, 2016",2016,,,,,23
4,Sherpa,Santa Barbara,7474,"June 15, 2016","July 12, 2016",2016,,,,,27
5,Border,San Diego,7609,"June 19, 2016","June 30, 2016",2016,,,,,11
6,Pine,Ventura,2304,"June 19, 2016","July 17, 2016",2016,,,,,28
7,San Gabriel Complex,Los Angeles,5399,"June 20, 2016","July 23, 2016",2016,,,,,33
8,Erskine,Kern,48019,"June 23, 2016","July 12, 2016",2016,,,,,19
9,Trailhead,Placer,5646,"June 28, 2016","July 18, 2016",2016,,,,,20
10,Deer,Kern,1785,"July 1, 2016","July 11, 2016",2016,,,,,10
11,Curry,Fresno,2944,"July 1, 2016","July 5, 2016",2016,,,,,4
12,Sage,Los Angeles,1109,"July 9, 2016","July 16, 2016",2016,,,,,7
13,Roblar,San Diego,1245,"July 21, 2016","July 30, 2016",2016,,,,,9
14,Sand,Los Angeles,41432,"July 22, 2016","August 3, 2016",2016,,,,,12
15,Soberanes,Monterey,132100,"July 22, 2016","October 12, 2016",2016,,,,,82
16,Goose,Fresno,2241,"July 30, 2016","August 9, 2016",2016,,,,,10
17,Cold,Yolo,5731,"August 2, 2016","August 12, 2016",2016,,,,,10
18,Pilot,San Bernardino,8110,"August 7, 2016","August 16, 2016",2016,,,,,9
19,Mineral,Fresno,7050,"August 9, 2016","August 18, 2016",2016,,,,,9
20,Chimney,San Luis Obispo,46344,"August 13, 2016","September 6, 2016",2016,,,,,24
21,Clayton,Lake,3929,"August 13, 2016","August 26, 2016",2016,,,,,13
22,Blue Cut,San Bernardino,36274,"August 16, 2016","August 23, 2016",2016,,,,,7
23,Cedar,Kern,29322,"August 16, 2016","September 30, 2016",2016,,,,,45
24,Rey,Santa Barbara,32606,"August 18, 2016","September 16, 2016",2016,,,,,29
25,Gap,Siskiyou,33867,"August 27, 2016","September 17, 2016",2016,,,,,21
26,Bogart,Riverside,1470,"August 30, 2016","September 2, 2016",2016,,,,,3
27,Willard,Lassen,2575,"September 11, 2016","September 22, 2016",2016,,,,,11
28,Owens River,Mono,5443,"September 17, 2016","October 15, 2016",2016,,,,,28
29,Canyon,Santa Barbara,12518,"September 17, 2016","September 24, 2016",2016,,,,,7
30,Sawmill,Sonoma,1547,"September 25, 2016","September 29, 2016",2016,,,,,4
31,Marshes,Tuolumne,1080,"September 26, 2016","October 4, 2016",2016,,,,,8
32,Loma,Santa Clara,4474,"September 26, 2016","October 12, 2016",2016,,,,,16

In [82]:
url = "https://en.wikipedia.org/wiki/2017_California_wildfires"
df_2017_list = pd.read_html(url)
# df_2017_list
df_2017_clean = df_2017_list[3].columns=df_2017_list[3].iloc[0]
df_2017_clean = df_2017_list[3]
df_2017_clean.drop(0,axis=0,inplace=True)
df_2017_clean["Start Date"] = df_2017_clean["Start Date"].astype(str) + ", 2017"
df_2017_clean["Containment Date"] = df_2017_clean["Containment Date"].astype(str) + ", 2017"

df_2017_clean.reset_index(inplace=True)
df_2017_clean.drop(["index","Notes","Ref"],axis=1,inplace=True)
df_2017_clean["Fire Year"] = 2017
df_2017_clean = df_2017_clean.rename(index=str,columns={"Name":"Fire Name","Acres":"Acres Burned"})
df_2017_clean["Fire Cause"] = ""
df_2017_clean["Latitude"] = ""
df_2017_clean["Longitude"] = ""
df_2017_clean["FIPS Code"] = ""

df_2017_clean["Number of Days"] = (pd.to_datetime(df_2017_clean["Containment Date"]) - pd.to_datetime(df_2017_clean["Start Date"])).dt.days
df_2017_clean

,Fire Name,County,Acres Burned,Start Date,Containment Date,Fire Year,Fire Cause,Latitude,Longitude,FIPS Code,Number of Days
0,Jayne,Fresno,5738,"April 20, 2017","April 21, 2017",2017,,,,,1
1,Opera,Riverside,1350,"April 30, 2017","May 2, 2017",2017,,,,,2
2,Elm,Fresno,10345,"May 18, 2017","May 21, 2017",2017,,,,,3
3,Gate,San Diego,2056,"May 20, 2017","May 23, 2017",2017,,,,,3
4,Oakwood,Madera,1431,"June 10, 2017","June 13, 2017",2017,,,,,3
5,Highway,Kern,1522,"June 18, 2017","June 28, 2017",2017,,,,,10
6,Holcomb,San Bernardino,1503,"June 19, 2017","June 29, 2017",2017,,,,,10
7,Schaeffer,Tulare,16031,"June 24, 2017","August 10, 2017",2017,,,,,47
8,Salmon August Complex,Siskiyou,65888,"June 25, 2017","December 8, 2017",2017,,,,,166
9,Manzanita,Riverside,6309,"June 26, 2017","June 30, 2017",2017,,,,,4
10,Hill,San Luis Obispo,1598,"June 26, 2017","June 30, 2017",2017,,,,,4
11,Winters,Yolo,2269,"July 6, 2017","July 12, 2017",2017,,,,,6
12,Alamo,San Luis Obispo,28687,"July 6, 2017","July 19, 2017",2017,,,,,13
13,Wall,Butte,6033,"July 7, 2017","July 17, 2017",2017,,,,,10
14,Whittier,Santa Barbara,18430,"July 8, 2017","October 5, 2017",2017,,,,,89
15,Parkfield,Monterey,1816,"July 8, 2017","July 11, 2017",2017,,,,,3
16,Garza,Fresno,48889,"July 9, 2017","July 21, 2017",2017,,,,,12
17,Long Valley,Lassen,83733,"July 11, 2017","July 21, 2017",2017,,,,,10
18,Detwiler,Mariposa,81826,"July 16, 2017","August 24, 2017",2017,,,,,39
19,Modoc July Complex,Modoc,83120,"July 24, 2017","August 16, 2017",2017,,,,,23
20,Orleans Complex,Siskiyou,27276,"July 25, 2017","September 26, 2017",2017,,,,,63
21,Empire,Mariposa,6370,"August 1, 2017","November 27, 2017",2017,,,,,118
22,Parker 2,Modoc,7697,"August 3, 2017","August 29, 2017",2017,,,,,26
23,Young,Siskiyou,2500,"August 7, 2017","August 28, 2017",2017,,,,,21
24,South Fork,Mariposa,7000,"August 13, 2017","November 27, 2017",2017,,,,,106
25,Blaine,Riverside,1044,"August 13, 2017","August 16, 2017",2017,,,,,3
26,Eclipse Complex,Siskiyou,78698,"August 15, 2017","November 29, 2017",2017,,,,,106
27,Pier,Tulare,36556,"August 29, 2017","November 29, 2017",2017,,,,,92
28,Railroad,Madera,12407,"August 29, 2017","October 24, 2017",2017,,,,,56
29,Ponderosa,Butte,4016,"August 29, 2017","September 9, 2017",2017,,,,,11
...,...,...,...,...,...,...,...,...,...,...,...
34,La Tuna,Los Angeles,7194,"September 1, 2017","September 9, 2017",2017,,,,,8
35,Palmer,Riverside,3874,"September 2, 2017","September 6, 2017",2017,,,,,4
36,Mission,Madera,1035,"September 3, 2017","September 13, 2017",2017,,,,,10
37,Buck,Trinity,13417,"September 12, 2017","November 20, 2017",2017,,,,,69
38,Lion,Tulare,18900,"September 24, 2017","December 2, 2017",2017,,,,,69
39,Canyon,Riverside,2662,"September 25, 2017","October 4, 2017",2017,,,,,9
40,Cherokee,Butte,8417,"October 8, 2017","October 16, 2017",2017,,,,,8
41,Atlas,Napa/Solano,51624,"October 8, 2017","October 31, 2017",2017,,,,,23
42,Tubbs,Napa/Sonoma,36807,"October 8, 2017","October 31, 2017",2017,,,,,23
43,Nuns,Sonoma,56556,"October 8, 2017","October 30, 2017",2017,,,,,22
44,Redwood Valley Complex,Mendocino,36523,"October 8, 2017","October 28, 2017",2017,,,,,20
45,La Porte,Butte,6151,"October 9, 2017","October 18, 2017",2017,,,,,9
46,Cascade,Yuba,9989,"October 9, 2017","October 18, 2017",2017,,,,,9
47,Sulphur,Lake,2207,"October 9, 2017","October 26, 2017",2017,,,,,17
48,Canyon 2,Orange,9217,"October 9, 2017","October 18, 2017",2017,,,,,9
49,37,Sonoma,1660,"October 9, 2017","October 13, 2017",2017,,,,,4
50,Pocket,Sonoma,17357,"October 9, 2017","October 31, 2017",2017,,,,,22
51,Lobo,Nevada,821,"October 9, 2017","October 18, 2017",2017,,,,,9
52,Bear,Santa Cruz,391,"October 16, 2017","October 27, 2017",2017,,,,,11
53,Buffalo Fire,San Diego,1088,"October 17, 2017","November 14, 2017",2017,,,,,28
54,Tank,Kern,50,"October 25, 2017","October 27, 2017",2017,,,,,2
55,Wildomar,Riverside,866,"October 27, 2017","October 29, 2017",2017,,,,,2
56,Thomas,Ventura/Santa Barbara,281893,"December 4, 2017","January 12, 2018, 2017",2017,,,,,39
57,Creek,Los Angeles,15619,"December 5, 2017","January 9, 2018, 2017",2017,,,,,35
58,Rye,Los Angeles,6049,"December 5, 2017","December 12, 2017",2017,,,,,7
59,Little Mountain,San Bernardino,260,"December 5, 2017","December 7, 2017",2017,,,,,2
60,Skirball,Los Angeles,422,"December 6, 2017","December 15, 2017",2017,,,,,9
61,Lilac,San Diego,4100,"December 7, 2017","December 16, 2017",2017,,,,,9
62,Liberty,Riverside,300,"December 7, 2017","December 9, 2017",2017,,,,,2
63,Range 219,San Diego,100,"December 15, 2017","December 15, 2017",2017,,,,,0

In [47]:
url = "https://en.wikipedia.org/wiki/2018_California_wildfires"
df_2018_list = pd.read_html(url)
df_2018_clean = df_2018_list[5].columns=df_2018_list[5].iloc[0]
df_2018_clean = df_2018_list[5]
df_2018_clean.drop(0,axis=0,inplace=True)
df_2018_clean.reset_index(inplace=True)
df_2018_clean.drop(["index","Notes","Ref","Status"],axis=1,inplace=True)
df_2018_clean["Fire Year"] = 2018
df_2018_clean["Fire Cause"] = ""
df_2018_clean["Latitude"] = ""
df_2018_clean["Longitude"] = ""
df_2018_clean["FIPS Code"] = ""
df_2018_clean = df_2018_clean.dropna()
df_2018_clean = df_2018_clean.rename(index=str,columns={"Name":"Fire Name","Acres":"Acres Burned","Containment date":"Containment Date","Start date":"Start Date"})
df_2018_clean["Number of Days"] = (pd.to_datetime(df_2018_clean["Containment Date"]) - pd.to_datetime(df_2018_clean["Start Date"])).dt.days
df_2018_clean

,Fire Name,County,Acres Burned,Start Date,Containment Date,Fire Year,Fire Cause,Latitude,Longitude,FIPS Code,Number of Days
0,Pleasant,Inyo,2070,"February 18, 2018","April 3, 2018",2018,,,,,44
1,Moffat,Inyo,1265,"April 19, 2018","May 21, 2018",2018,,,,,32
2,Nees,Merced,1756,"May 2, 2018","May 17, 2018",2018,,,,,15
3,Patterson,Riverside,1261,"May 17, 2018","May 21, 2018",2018,,,,,4
4,Panoche,San Benito,64,"June 4, 2018","June 7, 2018",2018,,,,,3
5,Stone,Los Angeles,1352,"June 4, 2018","June 13, 2018",2018,,,,,9
6,Airline,San Benito,1314,"June 4, 2018","June 14, 2018",2018,,,,,10
7,Apple,Tehama,2956,"June 9, 2018","June 14, 2018",2018,,,,,5
8,Chrome,Glenn,2290,"June 9, 2018","June 21, 2018",2018,,,,,12
9,Lions,Madera,12990,"June 11, 2018","July 16, 2018",2018,,,,,35
10,Planada,Merced,4564,"June 15, 2018","June 21, 2018",2018,,,,,6
11,Yankee,San Luis Obispo,1500,"June 20, 2018","July 1, 2018",2018,,,,,11
12,Lane,Tehama,3716,"June 23, 2018","July 4, 2018",2018,,,,,11
13,Pawnee,Lake,15185,"June 23, 2018","July 8, 2018",2018,,,,,15
14,Creek,Madera,1678,"June 24, 2018","July 5, 2018",2018,,,,,11
15,Waverly,San Joaquin,12300,"June 29, 2018","July 2, 2018",2018,,,,,3
16,County,"Lake, Napa, Yolo",90288,"June 30, 2018","July 14, 2018",2018,,,,,14
17,Klamathon,Siskiyou,38008,"July 5, 2018","July 16, 2018",2018,,,,,11
18,Valley,San Bernardino,1350,"July 6, 2018","July 24, 2018",2018,,,,,18
19,Holiday,Santa Barbara,113,"July 6, 2018","July 11, 2018",2018,,,,,5
20,Pendleton Complex,San Diego,1800,"July 6, 2018","July 11, 2018",2018,,,,,5
21,West,San Diego,504,"July 6, 2018","July 11, 2018",2018,,,,,5
22,Georges,Inyo,2883,"July 8, 2018","July 16, 2018",2018,,,,,8
23,Ferguson,Mariposa,96901,"July 13, 2018","August 18, 2018",2018,,,,,36
24,Eagle,Modoc,2100,"July 13, 2018","July 17, 2018",2018,,,,,4
26,Carr,Shasta,229651,"July 23, 2018","August 30, 2018",2018,,,,,38
27,Cranston,Riverside,13139,"July 26, 2018","August 10, 2018",2018,,,,,15
28,Mendocino Complex,"Mendocino, Lake, Colusa, Glenn",459123,"July 27, 2018","September 1, 2018",2018,,,,,36
29,Whaleback,Lassen,18703,"July 27, 2018","August 7, 2018",2018,,,,,11
30,Butte,Sutter,1200,"July 31, 2018","August 3, 2018",2018,,,,,3
32,Tarina,Kern,2950,"August 3, 2018","August 6, 2018",2018,,,,,3
33,Pendleton,San Diego,1000,"August 5, 2018","August 6, 2018",2018,,,,,1
34,Turkey,Monterey,2225,"August 6, 2018","August 6, 2018",2018,,,,,0
36,Five,Kings,2995,"August 6, 2018","August 8, 2018",2018,,,,,2
37,Hat,Shasta,1900,"August 9, 2018","August 16, 2018",2018,,,,,7
38,Nelson,Solano,2162,"August 10, 2018","August 12, 2018",2018,,,,,2
40,Stone,Modoc,39387,"August 15, 2018","August 29, 2018",2018,,,,,14
41,Mill Creek 1,Humboldt,3674,"August 16, 2018","August 30, 2018",2018,,,,,14

In [31]:
wiki_fire_df = pd.concat([merge_df,df_2015_clean,df_2016_clean,df_2017_clean,df_2018_clean], ignore_index=True)
wiki_fire_df

,Acres Burned,Containment Date,County,FIPS Code,Fire Cause,Fire Name,Fire Year,Latitude,Longitude,Start Date
0,1040,2.45542e+06,Plumas,063,Arson,BAR,2010,40.0142,-121.174,2.45541e+06
1,1150,2.45543e+06,San Luis Obispo,079,Miscellaneous,POZO,2010,35.3064,-120.32,2.45543e+06
2,1312,2.45544e+06,Kern,029,Miscellaneous,POST,2010,34.8478,-118.874,2.45543e+06
3,16442,2.45544e+06,Kern,029,Miscellaneous,BULL,2010,35.7853,-118.475,2.4554e+06
4,1142,2.45542e+06,Alpine,003,Lightning,WOLF,2010,38.5514,-119.713,2.4554e+06
5,9820,2.45546e+06,Kern,029,Miscellaneous,CANYON,2010,35.5564,-118.602,2.45545e+06
6,1307,2.45545e+06,Yuba,115,Missing/Undefined,BULLARD,2010,39.3769,-121.141,2.45544e+06
7,1255,2.4554e+06,Kern,029,Lightning,SAND 2,2010,35.7767,-117.973,2.45539e+06
8,1822,2.4554e+06,Kern,029,Lightning,INDIAN,2010,35.6962,-117.965,2.4554e+06
9,13918,2.45541e+06,Los Angeles,037,Equipment Use,CROWN,2010,34.5453,-118.281,2.45541e+06
10,1205,2.45541e+06,Mono,051,Lightning,MONO,2010,37.93,-118.98,2.4554e+06
11,9408,2.45542e+06,Lassen,035,Lightning,MCDONALD,2010,40.9164,-120.4,2.4554e+06
12,1369,2.45542e+06,Lassen,035,Lightning,CONSTANTIA,2010,39.9489,-120.057,2.4554e+06
13,1253,2.4555e+06,Santa Barbara,083,Missing/Undefined,BEAR CREEK,2010,34.6422,-120.575,2.4555e+06
14,1658,2.45541e+06,Kern,029,Missing/Undefined,WEST,2010,35.0581,-118.426,2.4554e+06
15,3225,2.45539e+06,San Diego,073,Missing/Undefined,ALISO,2010,33.3214,-117.387,2.45539e+06
16,1026.6,2.45578e+06,Riverside,065,Miscellaneous,GILMAN,2011,33.9375,-117.082,2.45578e+06
17,3128,2.45582e+06,Kern,029,Equipment Use,CANYON,2011,35.0806,-118.423,2.45581e+06
18,2134.2,2.45584e+06,San Diego,073,Lightning,GREAT,2011,35.0975,-116.479,2.45584e+06
19,5353,2.45582e+06,Inyo,027,Equipment Use,JOHN,2011,37.1378,-118.282,2.45582e+06
20,2076,2.4558e+06,Modoc,049,Missing/Undefined,ANNIE,2011,41.8997,-120.123,2.45579e+06
21,1122,NaN,Stanislaus,099,Lightning,MILTON,2011,37.9447,-120.844,2.45581e+06
22,1528,NaN,San Luis Obispo,079,Equipment Use,SODA,2011,35.3514,-120.005,2.45581e+06
23,5050,NaN,San Luis Obispo,079,Missing/Undefined,None,2011,35.2614,-120.644,2.45583e+06
24,1600,NaN,San Luis Obispo,079,Missing/Undefined,None,2011,35.16,-120.39,2.45577e+06
25,4200,2.45621e+06,Los Angeles,037,Equipment Use,WILLIAMS,2012,34.2383,-117.813,2.45617e+06
26,22283,2.4562e+06,Siskiyou,093,Lightning,GOFF,2012,41.8861,-123.252,2.45614e+06
27,41983,2.45622e+06,Mendocino,045,Lightning,NORTH PASS,2012,39.8661,-123.129,2.45616e+06
28,29502,2.45614e+06,Colusa,011,Miscellaneous,MILL,2012,39.3183,-122.707,2.45612e+06
29,1667,2.45615e+06,Modoc,049,Lightning,MDFDHBSFMU06LAKE,2012,41.7514,-120.996,2.45614e+06
...,...,...,...,...,...,...,...,...,...,...
248,3716,"July 4, 2018",Tehama,,,Lane,2018,,,"June 23, 2018"
249,15185,"July 8, 2018",Lake,,,Pawnee,2018,,,"June 23, 2018"
250,1678,"July 5, 2018",Madera,,,Creek,2018,,,"June 24, 2018"
251,12300,"July 2, 2018",San Joaquin,,,Waverly,2018,,,"June 29, 2018"
252,90288,"July 14, 2018","Lake, Napa, Yolo",,,County,2018,,,"June 30, 2018"
253,38008,"July 16, 2018",Siskiyou,,,Klamathon,2018,,,"July 5, 2018"
254,1350,"July 24, 2018",San Bernardino,,,Valley,2018,,,"July 6, 2018"
255,113,"July 11, 2018",Santa Barbara,,,Holiday,2018,,,"July 6, 2018"
256,1800,"July 11, 2018",San Diego,,,Pendleton Complex,2018,,,"July 6, 2018"
257,504,"July 11, 2018",San Diego,,,West,2018,,,"July 6, 2018"
258,2883,"July 16, 2018",Inyo,,,Georges,2018,,,"July 8, 2018"
259,96901,"August 18, 2018",Mariposa,,,Ferguson,2018,,,"July 13, 2018"
260,2100,"July 17, 2018",Modoc,,,Eagle,2018,,,"July 13, 2018"
261,27076,NaN,"Del Norte, Siskiyou",,,Natchez,2018,,,"July 15, 2018"
262,229651,"August 30, 2018",Shasta,,,Carr,2018,,,"July 23, 2018"
263,13139,"August 10, 2018",Riverside,,,Cranston,2018,,,"July 26, 2018"
264,459123,"September 1, 2018","Mendocino, Lake, Colusa, Glenn",,,Mendocino Complex,2018,,,"July 27, 2018"
265,18703,"August 7, 2018",Lassen,,,Whaleback,2018,,,"July 27, 2018"
266,1200,"August 3, 2018",Sutter,,,Butte,2018,,,"July 31, 2018"
267,36335,NaN,Tuolumne,,,Donnell,2018,,,"August 1, 2018"
268,2950,"August 6, 2018",Kern,,,Tarina,2018,,,"August 3, 2018"
269,1000,"August 6, 2018",San Diego,,,Pendleton,2018,,,"August 5, 2018"
270,2225,"August 6, 2018",Monterey,,,Turkey,2018,,,"August 6, 2018"
271,23136,NaN,"Orange, Riverside",,,Holy,2018,,,"August 6, 2018"
272,2995,"August 8, 2018",Kings,,,Five,2018,,,"August 6, 2018"
273,1900,"August 16, 2018",Shasta,,,Hat,2018,,,"August 9, 2018"
274,2162,"August 12, 2018",Solano,,,Nelson,2018,,,"August 10, 2018"
275,36083,NaN,Shasta,,,Hirz,2018,,,"August 13, 2018"
276,39387,"August 29, 2018",Modoc,,,Stone,2018,,,"August 15, 2018"
277,3674,"August 30, 2018",Humboldt,,,Mill Creek 1,2018,,,"August 16, 2018"

In [44]:
year = int(input())
data = wiki_fire_df.loc[wiki_fire_df["Year"] == year,["Year","Name","County","Acres"]]
data

2018

0    Year               Name                          County   Acres
236  2018           Pleasant                            Inyo    2070
237  2018             Moffat                            Inyo    1265
238  2018               Nees                          Merced    1756
239  2018          Patterson                       Riverside    1261
240  2018            Panoche                      San Benito      64
241  2018              Stone                     Los Angeles    1352
242  2018            Airline                      San Benito    1314
243  2018              Apple                          Tehama    2956
244  2018             Chrome                           Glenn    2290
245  2018              Lions                          Madera   12884
246  2018            Planada                          Merced    4564
247  2018             Yankee                 San Luis Obispo    1500
248  2018               Lane                          Tehama    3716
249  2018             Pawnee                            Lake   15185
250  2018              Creek                          Madera    1678
251  2018            Waverly                     San Joaquin   12300
252  2018             County                Lake, Napa, Yolo   90288
253  2018          Klamathon                        Siskiyou   38008
254  2018             Valley                  San Bernardino    1350
255  2018            Holiday                   Santa Barbara     113
256  2018  Pendleton Complex                       San Diego    1800
257  2018               West                       San Diego     504
258  2018            Georges                            Inyo    2883
259  2018           Ferguson                        Mariposa   96901
260  2018              Eagle                           Modoc    2100
261  2018            Natchez             Del Norte, Siskiyou   25199
262  2018               Carr                          Shasta  229651
263  2018           Cranston                       Riverside   13139
264  2018  Mendocino Complex  Mendocino, Lake, Colusa, Glenn  459102
265  2018          Whaleback                          Lassen   18703
266  2018              Butte                          Sutter    1200
267  2018            Donnell                        Tuolumne   35623
268  2018             Tarina                            Kern    2950
269  2018          Pendleton                       San Diego    1000
270  2018             Turkey                        Monterey    2225
271  2018               Holy               Orange, Riverside   23026
272  2018               Five                           Kings    2995
273  2018                Hat                          Shasta    1900
274  2018             Nelson                          Solano    2162
275  2018               Hirz                          Shasta   29506
276  2018              Stone                           Modoc   39387
277  2018       Mill Creek 1                        Humboldt    3638